@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: calc(100% - 48px*2);
  display: grid;
  margin: 0 auto ;
  padding: 92px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px 16px;
}

