@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  display: flex;
  max-width: calc(100% - 48px*2);
  margin: 0px auto;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
}


