.header {
  display: flex;
  max-width: calc(100% - 48px*2);
  margin: 0px auto;
  padding-top: 28px;
  justify-content: space-between;
  align-items: baseline;
}

.header__lang-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.header__lang-link {
  color: #fff;
  list-style: none;
  margin-right: 18px;
  text-decoration-line: underline;
  /*font-family: Inter;*/
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-link:last-of-type {
  margin-right: 0;
  text-decoration: none;
}