@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underline/header__lang-link_underline.css);

.header {
  display: flex;
  width: calc(100% - 48px*2);
  max-width: 1184px;
  margin: 0px auto;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 24px*2);
 }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 16px*2);
    padding-top: 16px;
    align-items: flex-end; 
 }
}
