.place__url-heading {
  margin: 0px 0px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  color: #aaa;
  letter-spacing: 0.2em;  
}

@media screen and (max-width: 1023px) {
  .place {
    line-height: 1;
    }
  }