.place__website {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-self: left;
  align-self: flex-end;
  transform: translateY(-9px);  
}

@media screen and (max-width: 1023px) {
  .place__website {
    transform: none;
    }
  .place__website:first-of-type {
    align-self: center;
    transform: translateY(9px);
    }  
  }

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
    }
  }